
.blogImgParent{
    cursor: pointer;
    margin-bottom: 70px;
}


.blogImgParent a{
    text-decoration: none;
    color: #2e2e2d;
    transition: .5s;
    font-size: 30px;
    font-family: "EB Garamon", serif;
}


.blogImgParent a:hover{
    color: #967844;
}
