.SingleBolg{
    background-color: #f8f5f0;
}

.singlePosP{
    font-family: "Source Serif Pro",serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.63em;
    color: #727272;
    width: 91%;
}